*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  overflow: hidden;
}

#button{
  position: absolute;
  margin: 10px 0 0 10px;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
}